.About {
  overflow: hidden;

  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
  }
  &__Row {
    display: flex;
    flex-direction: row;
  }
  &__Text {
    flex: .5;
  }

  &__Title {
    font-weight: 900;
    font-size: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
  }
  &__ListTitle {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 20px;
  }
  &__List {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 70px;
      font-size: 24px;
      margin-bottom: 10px;

      &:last-of-type {
        margin: 0;
      }

      p { margin: 0; }

      &::before {
        content: '';
        position: absolute;
        display: block;

        top: 50%;
        left: 35px;
        transform: translate3d(-50%, -50%, 0);
        width: 20px;
        height: 1px;
        background-color: $blue;
      }
    }
  }
  &__Image {
    position: absolute;
    top: 70px;
    bottom: 70px;
    right: 0;
    left: 55%;

    & img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
      transform: translate3d(-5%, 5%, 0) scale(1.2);
    }
  }
  &__Description {
    font-size: 20px;
    color: #6e7b90;
    max-width: 55%;
    margin: 0;
  }

  @media screen and (max-width: $screen-lg) {
    &__Description {
      max-width: 50%;
    }
  }

  @media screen and (max-width: $screen-md){
    &__Text {
      flex: .52;
    }
    &__List {
      li {
        font-size: 20px;
        padding-left: 30px;
        &::before {
          left: 0;
          transform: translate3d(0, -50%, 0);
        }
      }
    }
    &__Image {
      position: static;
      flex: .48;
      transform: scale(1.2) translateX(5%);
      margin-bottom: 30px;
      img {
        transform: none;
        max-width: 400px;
      }
    }
    &__Description {
      font-size: 18px;
      max-width: 100%;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
    }
    &__Row {
      flex-direction: column;
    }
    &__Title {
      font-size: 28px;
    }
    &__ListTitle {
      font-size: 28px;
    }
    &__List {
      li {
        font-size: 16px;
      }
    }
    &__Image {
      transform: scale(1.1);
      align-self: center;
    }
    &__Description {
      font-size: 14px;
    }
  }
}
