.Advantages {
  overflow: hidden;
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 40px;
  }
  &__Title {
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 20px;
  }
  &__ListTitle {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 50px;
  }
  &__List {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -70px;
  }
  &__Item {
    flex: 360px;
    max-width: 360px;
    margin-bottom: 70px;
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      text-align: center;
    }

    &__Title {
      font-size: 28px;
    }
    &__ListTitle {
      font-size: 28px;
      margin: 0 0 40px;
    }

    &__List {
      margin-bottom: -20px;
      justify-content: center;
    }
    &__Item {
      margin-bottom: 30px;
    }
  }
}

.AdvantageItem {
  $image-size: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__Image {
    width: $image-size;
    height: $image-size;
    object-fit: contain;
    object-position: center;
  }
  &__Text {
    font-size: 20px;
    color: #6e7b90;
    padding: 0 20px;
  }

  @media screen and (max-width: $screen-sm) {
    &__Image {
      margin-bottom: 10px;
    }
    font-size: 16px;
    flex-direction: column;
  }
}
