.Contacts {
  background-image: url("images/png/contact-back.png");
  background-position: center;
  background-size: cover;
  &__Wrap {
    @include sized();
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  &__Title {
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 20px;
  }
  &__Text {
    font-size: 20px;
    margin: 0 auto 50px;
    max-width: 840px;
  }
  &__Form {
    max-width: 680px;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen-sm) {
    &__Title {
      font-size: 28px;
    }
    &__Text {
      font-size: 18px;
    }
  }
}

.ContactsForm {
  padding: 40px 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &__Row {
    display: flex;
    flex-direction: row;
    margin: 0 -10px 40px;
  }
  &__Input, &__Textarea, &__Button {
    margin: 0 10px;
  }

  &__Input {}
  &__Textarea {
    flex: 1;
    height: 80px;
  }
  &__Button {
    width: 30%;
    min-width: 190px;
  }


  @media screen and (max-width: $screen-sm) {
    padding: 40px 20px;
    &__Row {
      flex-direction: column;
      margin-bottom: 0;
    }
    &__Input, &__Textarea  {
      margin-bottom: 30px;
    }
  }
}
