.MainScreen {
  overflow: hidden;
  position: relative;

  background-image: url("images/png/main-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__Wrap {
    @include sized();
    min-height: 100vh;
    padding-top: 250px;
    padding-bottom: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__Text-Main {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    margin: 0;
  }

  &__Text-Secondary {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    margin: 0;
    max-width: 40%;
  }

  &__DownButton {
    position: absolute;
    display: block;
    border: none;
    background-color: #fff;
    width: 50px;
    height: 50px;

    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 50%, 0) rotate(45deg);

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-95%, -95%, 0) rotate(-45deg);

      background-image: url("images/svg/down.svg");
      opacity: .4;
    }

    &:hover {
      &::after {
        transition: .3s;
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $screen-md){
    background-image: url("images/png/main-back-sm.png");
    background-size: cover;
    background-position: 0% 30%;

    &__Wrap {
      min-height: 100vh;
      padding-top: 55vmax;
      padding-bottom: 10vmax;
    }

    &__Text-Secondary {
      font-size: 3vw;
      max-width: 65%;
    }

    @media screen and (orientation: portrait) {
      &__Text-Main {
        font-size: 48px;
      }
      &__Text-Secondary {
        font-size: 28px;
      }
    }
  }

  @media screen and (max-width: $screen-sm){
    background-position: -10vw 50%;
    background-size: auto 100%;
    background-image: url("images/png/main-back-xs.png");

    &__Wrap {
      min-height: 80vh;
    }

    &__Text-Main {
      font-size: 30px;
    }

    &__Text-Secondary {
      font-size: 18px;
      max-width: 320px;
    }

    @media screen and (orientation: portrait) {
      background-size: cover;

      &__Text-Main {
        font-size: 3vh;
      }
      &__Text-Secondary {
        font-size: 2vh;
      }
    }
  }
}
