.Services {
  overflow: hidden;
  background-image: url("images/png/services-back.png");
  background-position: center;
  background-size: cover;
  color: #fff;

  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
  }
  &__Title {
    font-weight: 900;
    font-size: 36px;
    margin: 0 0 20px;
  }
  &__Text {
    font-size: 20px;
    margin: 0 auto 50px;
    width: 100%;
    max-width: $screen-sm;
  }
  &__Items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__Item {
    position: relative;
    max-width: 20%;

    &:nth-child(1) {
      img {
        transform: translate3d(-37%, -50%, 0);
      }
    }
    &--second {
      margin-top: 50px;
    }
    &--third {
      margin-top: 100px;
    }

    &:nth-of-type(1)::after,
    &:nth-of-type(2)::after,
    &:nth-of-type(3)::after,
    &:nth-of-type(4)::after {
      content: '';
      position: absolute;
      display: block;

      height: 70px;
      width: 70px;

      background-image: url("images/svg/services-arrow.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      left: 100%;
    }

    &:nth-of-type(1)::after {
      top: 5%;
      transform: translate3d(-50%, -50%, 0) rotate(-5deg);
    }
    &:nth-of-type(2)::after {
      top: 0;
      transform: translate3d(-50%, -50%, 0) rotate(10deg);
    }
    &:nth-of-type(3)::after {
      top: 50px;
      transform: translate3d(-50%, -50%, 0) rotate(25deg);
    }
    &:nth-of-type(4)::after {
      top: 50px;
      transform: translate3d(-50%, -50%, 0) rotate(35deg);
    }
  }
  &__Postscript {
    font-size: 20px;
    opacity: .6;
  }

  @media screen and (max-width: $screen-md) {
    &__Wrap {
      padding-top: 50px;
    }
    &__Item {
      &--first {}
      &--second {
        margin-top: 80px;
      }
      &--third {
        margin-top: 160px;
      }

      &:nth-of-type(1)::after,
      &:nth-of-type(2)::after,
      &:nth-of-type(3)::after,
      &:nth-of-type(4)::after {
        height: 60px;
        width: 60px;
      }

      &:nth-of-type(1)::after {
        top: -13%;
        left: 87%;
        transform: translate3d(-50%, -50%, 0) rotate(-20deg);
      }
      &:nth-of-type(2)::after {
        top: -11%;
        left: 84%;
        transform: translate3d(-50%, -50%, 0) rotate(-8deg);
      }
      &:nth-of-type(3)::after {
        top: 11%;
        left: 115%;
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }
      &:nth-of-type(4)::after {
        top: 20%;
        left: 115%;
        transform: translate3d(-50%, -50%, 0) rotate(60deg);
      }
    }
    &__Postscript {
      font-size: 18px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Title {
      font-size: 28px;
    }
    &__Text {
      font-size: 18px;
    }
    &__Items {
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto 60px;
    }
    &__Item {
      margin: 0;
      max-width: 50%;

      &:nth-of-type(n + 2) {
        margin-top: -60px;
      }

      &:nth-of-type(2n) {
        align-self: flex-end;
      }

      &:nth-of-type(1)::after,
      &:nth-of-type(2)::after,
      &:nth-of-type(3)::after,
      &:nth-of-type(4)::after {
        height: 60px;
        width: 60px;
      }

      &:nth-of-type(1)::after {
        top: 50%;
        left: 110%;
        transform: translate3d(-50%, -50%, 0) rotate(60deg);
      }
      &:nth-of-type(2)::after {
        top: 52%;
        left: -11%;
        transform: translate3d(-50%, -50%, 0) rotateY(180deg) rotateZ(55deg);
      }
      &:nth-of-type(3)::after {
        top: 56%;
        left: 107%;
        transform: translate3d(-50%, -50%, 0) rotate(55deg);
      }
      &:nth-of-type(4)::after {
        top: 55%;
        left: -10%;
        transform: translate3d(-50%, -50%, 0) rotateY(180deg) rotateZ(60deg);
      }
    }
    &__Postscript {
      font-size: 16px;
    }
  }
}

.ServiceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__Illustration {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #fff;
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 60%;
      height: 60%;
    }

    &--Active {
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);

        width: 110%;
        height: 110%;

        border-radius: 100%;
        border: 1px solid #fff;
      }
    }
  }
  &__Text {
    padding: 0 10px;
    font-size: 20px;
    display: block;
  }

  @media screen and (max-width: $screen-md) {
    &__Text {
      font-size: 18px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Text {
      font-size: 16px;
    }
  }
}
