.WhyUs {
  overflow: hidden;
  background-color: #f1f9ff;
  background-image: url("images/png/whyus-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 180%;
  &__Wrap {
    @include sized();
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  &__Title {
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 20px;
  }
  &__Text {
    font-size: 20px;
    margin: 0 0 40px;
  }
  &__Items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -60px;
  }
  &__Item {
    margin: 0 60px;
  }
  &__Row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:first-of-type {
      margin-bottom: -50px;
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Wrap {
      padding-top: 50px;
    }
  }
  @media screen and (max-width: $screen-sm) {
    background-position: calc(50% - 2px) 40%;
    background-size: auto 150%;
    &__Title {
      font-size: 28px;
    }
    &__Text {
      font-size: 18px;
    }
    &__Items {
      margin: 0 -45px;
    }
    &__Item {
      margin: 0 25px;
    }
    &__Row {
      &:first-of-type {
        margin-bottom: -15px;
      }
    }
  }
}

.WhyUsItem {
  $size: 280px;
  $size-xs: 150px;

  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;


  &__Image {
    height: 50%;
    margin-bottom: 20px;
  }
  &__Text {
    color: #6e7b90;
    font-size: 20px;
  }

  @media screen and (max-width: $screen-sm) {
    width: $size-xs;
    height: $size-xs;

    padding: 10px;

    &__Image {
      margin-bottom: 5px;
    }
    &__Text {
      font-size: 15px;
    }

  }
}
