.Button {
  border: none;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: $blue;
  border-radius: 4px;

  &:hover {
    transition: .3s;
    background-color: lighten($blue, 10);
  }

  &:active {
    background-color: darken($blue, 5);
  }

  &:disabled {
    opacity: .5;
  }
}
