.Footer {

  &__Contacts {
    background-image: url("images/png/footer-back.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  &__Wrap {
    @include sized();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__Left, &__Right {
    display: flex;
    flex-direction: column;
  }
  &__Left {
    align-items: flex-start;
  }
  &__Right {
    align-items: flex-end;
  }
  &__Logo {
    display: none;
    height: 90px;
    width: 90px;
    margin-bottom: 20px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__MainInfo {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 5px;
    padding-left: 30px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate3d(0, -50%, 0);

      width: 24px;
      height: 24px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--Phone {
      text-decoration: none;
      color: $dark;
      &::before {
        top: 55%;
        background-image: url("images/svg/phone-call-dark.svg");
      }
    }
    &--Address {
      &::before {
        top: 45%;
        background-image: url("images/svg/warehouse.svg");
      }
    }
  }
  &__Text, &__Link, &__Social {
    margin: 0 0 5px;
    font-size: 18px;
    color: #6e7b90;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__Link {
    color: $blue
  }
  &__Social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__Social-Link {
    $size: 30px;

    margin-left: 10px;
    display: block;
    width: $size;
    height: $size;

    background-image: url("images/svg/linkedin.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__Bottom {
    padding: 10px;
    background-color: #015eb3;
    text-align: center;
  }
  &__Copyright {
    opacity: .3;
    font-size: 16px;
    color: #fff;
  }

  @media screen and (max-width: $screen-sm) {
    &__Contacts {
      background: none;
    }

    &__Wrap {
      flex-direction: column;
      align-items: center;
    }

    &__Left {
      margin-bottom: 20px;
    }

    &__Left, &__Right {
      align-items: center;
    }

    &__Logo {
      display: block;
    }

    &__MainInfo {
      font-size: 18px;
      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__Text, &__Link, &__Social {
      font-size: 16px;
    }


    &__Copyright {
      font-size: 14px;
    }
  }
}
