.Header {
  width: 100%;

  &__Wrap {
    @include sized();
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__Right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // LOGO
  &__Logo {
    width: 140px;
  }

  // NAV
  &__Nav {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 45px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 2px;
      right: 0;
      height: 1px;

      background-color: #fff;
    }
  }
  &__Nav-Item {
    position: relative;
    font-size: 18px;
    color: #e8edef;
    text-decoration: none;
    text-transform: uppercase;

    display: block;
    padding: 15px 0;
    margin-right: 35px;

    background: none;
    border: none;
    text-align: left;
    height: 100%;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 1px;

      background-color: #fff;
    }

    &:hover {
      transition: .3s;
      color: #fff;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 3px;

        background-color: #fff;
      }
    }

    &:focus, &:active {
      color: #fff;
      text-decoration: none;
    }
  }

  // CONTACTS
  &__Contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__Contacts-Phone {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -5px;
      top: 55%;
      transform: translate3d(-100%, -50%, 0);

      width: 24px;
      height: 24px;
      background-image: url("images/svg/phone-call.svg");
      opacity: .5;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__Contacts-Mail {
    color: #fff;
    font-size: 18px;
  }
  &__Delimiter {
    display: none;
    height: 50px;
    width: 1px;
    margin: 0 20px;
    background-color: #fff;
  }
  &__MenuButton {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url("images/svg/menu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &:active, &:focus {
      outline: none;
    }

    &.is-open {
      background-image: url("images/svg/cancel.svg");
    }
  }

  @media screen and (max-width: 1170px) {
    &__Wrap {
      flex-direction: column;
      align-items: flex-start;
    }

    &__Logo {
      width: 100px;
      margin-bottom: 30px;
    }

    &__Nav {
      display: flex;
      align-self: center;
      justify-content: space-between;
      width: calc(100% - 40px);
      margin: 40px 0 0;
    }

    &__Right {
      top: 50px;
    }
  }
  @media screen and (max-width: $screen-sm) {
    &__Logo {
      width: 72px;
      margin-left: -20px;
    }

    &__Nav {
      opacity: 0;
      pointer-events: none;

      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100vw;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border: none;

      background-color: rgba($dark-blue, .95);
      padding: 100px 20px 20px;

      &::after {
        display: none;
      }

      &.show {
        transition: opacity .3s;
        opacity: 1;
        pointer-events: initial;
      }
    }

    &__Nav-Item {
      width: 100%;
      font-size: 24px;
      margin: 0;
      border-bottom: 2px dashed rgba(#fff, .1);
      &::after {
        display: none !important;
      }

      &:last-child {
        border: none;
      }
    }

    &__Right {
      top: 36px;
    }

    &__Contacts-Phone {
      font-size: 18px;
      &::before {
        display: none;
      }
    }
    &__Contacts-Mail {
      font-size: 16px;
    }

    &__Delimiter {
      display: block;
    }

    &__MenuButton {
      display: block;
    }
  }
}
