.Input {
  position: relative;
  border: 1px solid #dee7eb;
  border-radius: 4px;

  &__Placeholder {
    position: absolute;
    font-size: 14px;
    color: #818a90;
    background-color: #fff;
    top: 0;
    left: 6px;
    padding: 0 4px;
    transform: translateY(-70%);
    border-radius: 4px;
  }

  input, textarea {
    font-family: "Open Sans";
    font-size: 16px;
    float: left;
    color: #313233;
    border: none;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    resize: none;
    border-radius: 4px;

    &:disabled {
      background-color: #f5f5f5;
    }

    &::placeholder {
      color: #caced1;
    }
  }
}
