.Message {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($dark-blue, .8);

  &__Wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;

    max-width: 520px;
    width: 80%;
    min-width: 280px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__CloseBtn {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("images/svg/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .2;
    margin-bottom: 20px;
  }

  &__Text {
    text-align: center;
    font-size: 20px;
    margin: 0 0 40px;
  }

  &__Button {
    width: 190px;
    margin-bottom: 20px;
  }

  &--show {
    pointer-events: initial;
    transition: .3s;
    opacity: 1;
  }

  @media screen and (max-width: $screen-sm) {
    &__Text {
      margin: 0 0 30px;
    }
  }
}
