mixin Input(placeholder, name, inputType='input')
  div(class='Input ' + attributes.class)
    span.Input__Placeholder= placeholder
    if inputType === 'textarea'
      textarea(id=attributes.id placeholder=attributes.placeholder name=name)
    else
      input(id=attributes.id placeholder=attributes.placeholder name=name required=attributes.required)
