include button

mixin Message(id, defaultMessage)
  div(id=id).Message
    div.Message__Wrap
      button.Message__CloseBtn
      p.Message__Text=defaultMessage
      +Button(class='Message__Button') OK
