.show-lg {
  display: none;
  @media screen and (min-width: $screen-md) {
    display: block;
  }
}
.show-md {
  display: none;
  @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
    display: block;
  }
}
.hide-xs {
  display: block;
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}
.show-xs {
  display: none;
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}
