@mixin sized() {
  width: 100%;
  margin: 0 auto;
  max-width: calc(#{$max-app-width} + 40px);
  min-width: calc(#{$min-app-width});
  padding: 0 20px;

  @media screen and (max-width: $screen-md) {
    //padding: 60px $base-offset * 2;
  }

  @media screen and (max-width: $screen-xs) {
    //padding: 40px $base-offset * 2;
  }
}
