// MEASURES
$screen-xs: 360px;
$screen-sm: 760px;
$screen-md: 1024px;
$screen-lg: 1280px;

$max-app-width: $screen-lg;
$min-app-width: $screen-xs;

// COLORS
$dark: #313955;
$grey: #e8edef;
$blue: #0091ff;
$dark-blue: #1b2137;
