@import "~normalize-scss/sass/normalize";
@import "variables";
@import "mixins";
@import "common";
@import "fonts";

body {
  font-family: 'Open Sans';
  color: $dark;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;

    &:active, &:focus {
      outline: none;
    }
  }
}

.App {
  position: relative;
  overflow: hidden;
  &__Header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__Content {}
  &__Footer {}
}

// COMPONENTS
@import "components/header";
@import "components/footer";
@import "components/input";
@import "components/button";
@import "components/message";

// SCREENS
@import "screens/main";
@import "screens/about";
@import "screens/services";
@import "screens/whyus";
@import "screens/advantages";
@import "screens/contacts";
