include mixins/message

- recaptchaSiteKey = '6LcRYPcUAAAAAB5qRDX6fl-F6nSYZSGSf4DrDfyf'

doctype html
html(lang="ru-RU")
  head
    link(rel="icon" type="image/x-icon" href="images/favicon.ico")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title BetaLife
    meta(name="description", content="BetaLife")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="https://smtpjs.com/v3/smtp.js" async=true)
    script(src="https://www.google.com/recaptcha/api.js?render=" + recaptchaSiteKey async=true defer=true)
  body
    div.App
      header.App__Header.Header
        div.Header__Wrap
          img.Header__Logo(src="images/png/betalife-logo.png" alt="BetaLife Logo")
          nav(id="nav-menu").Header__Nav
            button.Header__Nav-Item.is-active(data-target="about-screen") About Us
            button.Header__Nav-Item(data-target="services-screen") Our Services
            button.Header__Nav-Item(data-target="whyus-screen") Why Us
            button.Header__Nav-Item(data-target="advantages-screen") Advantages
            button.Header__Nav-Item(data-target="contacts-screen") Contact Us
          div.Header__Right
            div.Header__Contacts
              a.Header__Contacts-Phone(href="tel:+30-698-860-95-37") +30 (698) 860-95-37
              a.Header__Contacts-Mail(href="mailto:info@betalife.tech") info@betalife.tech
            span.Header__Delimiter
            button(id="nav-menu-button").Header__MenuButton

      div.App__Content
        include screens/main
        include screens/about
        include screens/services
        include screens/whyus
        include screens/advantages
        include screens/contacts
      footer.App__Footer.Footer
        div.Footer__Contacts
          div.Footer__Wrap
            div.Footer__Logo
              img(src="images/svg/logo.svg" alt="Betalife logo")
            div.Footer__Left
              p.Footer__MainInfo.Footer__MainInfo--Address Warehouse in Greece
              p.Footer__Text Leof. Kifisias 122 Marousi 151 25
              p.Footer__Text Athens, Greece
            div.Footer__Right
              a(href="tel:+30-698-860-95-37").Footer__MainInfo.Footer__MainInfo--Phone +30 (698) 860-95-37
              a(href="mailto:info@betalife.tech").Footer__Link info@betalife.tech
              div.Footer__Social Follow us:
                a(href="https://www.linkedin.com/" target="_blank").Footer__Social-Link
        div.Footer__Bottom
          span.Footer__Copyright © 2020, Betalife tech  All rights reserved.
      +Message('main-message', 'Your message was sent successfully!')
