section(id="about-screen").About
  div.About__Wrap

    div.About__Row
      div.About__Text
        h2.About__Title About Us
        h3.About__ListTitle Fields of expertise:
        ul.About__List
          li: p Medical equipment/products
          li: p Automated teller machines (ATMs)
          li: p Implementing blockchain technology <br /> in wholesale and retail
      div.About__Image
        img(src="images/png/about-image.png" alt="betalife-about")

    p.About__Description
      | We cooperate with factories from Europe, China and South Korea directly. <br class="show-md"/>
      | Our shipping is one of the fastest on the market and we deliver to any region worldwide.
