mixin AdvantageItem(index, text)
  li(class='AdvantageItem ' + attributes.class)
    img.AdvantageItem__Image(src='images/svg/advantages' + index + '.svg')
    span.AdvantageItem__Text= text

section(id="advantages-screen").Advantages
  div.Advantages__Wrap
    h2.Advantages__Title ADVANTAGES
    p.Advantages__ListTitle Our key advantages:
    ul.Advantages__List
      +AdvantageItem(1, 'Software development and upgrades')(class='Advantages__Item')
      +AdvantageItem(2, 'We speak blockchain')(class='Advantages__Item')
      +AdvantageItem(3, 'European agent')(class='Advantages__Item')
      +AdvantageItem(4, 'Warehouse in EU')(class='Advantages__Item')
      +AdvantageItem(5, 'Worldwide shipping')(class='Advantages__Item')
      +AdvantageItem(6, 'Competitive prices')(class='Advantages__Item')
