include ../mixins/input.pug
include ../mixins/button.pug

section(id="contacts-screen").Contacts
  div.Contacts__Wrap
    h2.Contacts__Title CONTACT US
    p.Contacts__Text
      | You want to start a business but you cannot get the products you want to sell or
      | operate? Message us with all the details and we will help you with your goal.
      | We can find a solution and negotiate better terms/prices with any factory worldwide.
    div.Contacts__Form.ContactsForm
      form(id='contacts-form' action='./mail/sendmail.php' method='POST')
        div.ContactsForm__Row
          +Input('Full name*', 'name')(class='ContactsForm__Input' id='name-input' placeholder='Your name' required=true)
          +Input('Mobile number', 'phone')(class='ContactsForm__Input' id='mobile-input' placeholder='Your mobile number')
          +Input('E-mail*', 'mail')(class='ContactsForm__Input' id='mail-input' placeholder='Your mail' required=true)
        div.ContactsForm__Row
          +Input('Message', 'message', 'textarea')(class='ContactsForm__Textarea' id='message-input' placeholder='Your message...')
        +Button()(class='ContactsForm__Button' id='submit-button') SEND
