section(id="main-screen").MainScreen
  div.MainScreen__Wrap
    h2.MainScreen__Text-Main Betalife Tech Ltd.
    p.MainScreen__Text-Secondary
      | is a wholesale company that
      | upgrades and distributes
      | electronical devices around
      | the globe.
    button(id="down-button" data-target="about-screen").MainScreen__DownButton
