mixin ServiceItem(index, text, isActive=false)
  div(class=attributes.class + " ServiceItem")
    if isActive
      div(class='ServiceItem__Illustration ServiceItem__Illustration--Active')
        img(src="images/svg/services" + index + ".svg" alt="betalife-service")
    else
      div(class='ServiceItem__Illustration')
        img(src="images/svg/services" + index + ".svg" alt="betalife-service")
    span.ServiceItem__Text= text

section(id="services-screen").Services
  div.Services__Wrap
    h2.Services__Title OUR SERVICES
    p.Services__Text
      | If customer desires an installation, upgrade or modification of product’s software
      | we can definitely deliver. All modifications can be implemented based on
      | blockchain technology for an extra cost.
    div.Services__Items
      +ServiceItem(1, "Buyer makes an order")(class="Services__Item Services__Item--third")
      +ServiceItem(2, "We deal with the factory")(class="Services__Item Services__Item--second")
      +ServiceItem(3, "Product arrives to our warehouse")(class="Services__Item Services__Item--first")
      +ServiceItem(4, "We program / modify / upgrade it", true)(class="Services__Item Services__Item--second")
      +ServiceItem(5, "Buyer receives the final product")(class="Services__Item Services__Item--third")
    p.Services__Postscript
      | *We also accept orders without upgrades/modifications
