mixin WhyUsItem(index, text, textXS)
  div(class='WhyUsItem ' + attributes.class)
    img.WhyUsItem__Image(src='images/svg/whyus' + index + '.svg')
    if textXS
      span(class='WhyUsItem__Text hide-xs')= text
      span(class='WhyUsItem__Text show-xs')= textXS
    else
      span.WhyUsItem__Text= text

div(id="whyus-screen").WhyUs
  div.WhyUs__Wrap
    h2.WhyUs__Title WHY US
    p.WhyUs__Text Why to choose our company and not the factory directly?
      div.WhyUs__Items
        div.WhyUs__Row
          +WhyUsItem(
            1,
            'We have access to latest technologies',
            'We have access to latest tech- nologies'
          )(class='WhyUs__Item')
        div.WhyUs__Row
          +WhyUsItem(2, 'Because we are friendly and flexible')(class='WhyUs__Item')
          +WhyUsItem(3, 'Factories offer us better prices')(class='WhyUs__Item')
